catalogues
__pycache__
.ropeproject
deepfrier/.ropeproject

# projects
pred_cmaps_benchmark
tasks.txt
rosetta_aupr_perf.py
random5k
new_pdb
old_slurm
ncov2019
sifts_models
results
pdb_seqres.fasta
pdb_all.fasta
alnRes.m8
preprocessing/data/cafa-5-protein-function-prediction/*

trained_models_small
build
.history
annot_pdb_chains_npz
ContactMaps
ContactMaps*
*.zip
*.tar.gz
*.gz
bc-95.out
go-basic.obo
alnRes*.csv
pdb*.tsv

*predictions*
*scores.json

# models
trained_models/*
newest_trained/*
alphafold2
